<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    <script>
    $(document).ready( function () {

      $(".panel").hover(function () {
        $(this).find('img').toggleClass("fade");
        $(this).find(".title").toggle();
      });
    });
    </script>

    <header>
      <div class='container'>
        <h1><a href="/">Where our Souls Wander</a></h1>
      </div>
      <nav>
        <ul>
          <li><a class='subtitle' href="/">The photography blog of Harani Ramasamy</a></li>
        </ul>
      </nav>
    </header>

    <main>
      <div class="container">
        {{ content }}
      </div>
    </main>

    {% include footer.html %}

  </body>

</html>
